<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damoa.mappers.memberMapper">
	<insert id="joinMember">
		insert into member(m.no,id,pw,name,birth,gender,email,phone,addr1,addr2,reg_date)
		values (#{m.no},#{id},#{pw},#{name},#{birth},#{gender},#{email},#{phone},#{addr1},#{addr2},now())
	</insert>
</mapper>